


.navbar {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1;

}



.nav-item.active {
  background-color: #f8f9fa!important;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Noto Sans TC', sans-serif;

}


.float-next:hover, .float-back:hover {
  text-decoration: underline;
  color: black;
}

]

/* Fading animation */
.fade-in {
  opacity: 0;
    -webkit-animation: fadein 2s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s forwards; /* Firefox < 16 */
        -ms-animation: fadein 2s forwards; /* Internet Explorer */
         -o-animation: fadein 2s forwards; /* Opera < 12.1 */
            animation: fadein 2s forwards;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #970397;
}

.navbar-light .navbar-brand {
    color: #4ABDAC;
}

h1 {
  color: #FF8E90;
  font-size: 4rem;
}

h2 {
  color: #C6E2FF;
  font-size: 2.0rem;
}

h3 {
  color: #FCEEFF;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #3C4766;
}

body {
  overscroll-behavior-y: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




.c-p {
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.centered {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about-back {
  background-image: url(../graphics/about-background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clouds {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: bottom 1s ease-out;
}

.moon {
  position: fixed;
  right: -50px;
  bottom: -100px;
  opacity: 1;
  transition: opacity 1s ease-out;
  z-index: -1;
}





.button-3 {
  border: 2px solid #FF8E90;
  background-color: #FF8E90;
  color: #fff;
  transition: .3s;
  box-shadow: 8px 8px #99bdff;
}

.button-3:hover {
  box-shadow: 0px 0px #99bdff;
  transition: .3s;
}


.centered {
  display: flex;
  justify-content: center;
}

.landscape {
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.pale-back {
  background-color: #fceeff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 8px 8px #99bdff;
}

.col-md-6 img {
  width: 100%;
}

.top {
  top: 60px;
    /* padding: 10px; */
    margin-top: 10px;
}

.container {
  max-width: 100%;
}

.col-md-4 p {
  color: #f3c3c4;
}

.mt-10 {
  margin-top: 40px;
}


.extra-bottom {
  padding-bottom: 350px;
}


.back {
    background-color: #F0F0FF;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 8px 8px #99bdff;
}

.back h2 {
  color: #3C4766;
}

.back h3 {
  color: #99bdff;
}

.back p {
  color: #FF8E90;
}

.spacebro{
  position: absolute;
  bottom: 20px;
  left: -140px;
  opacity: 1;
  transition-delay: 10s;
  transition: all 1s ease-out;
}

.spacebro.fade {
  opacity: 0;
}

.spacebro.move {
  left: 20px;
}

.reset {
  position: absolute;
  opacity: 0;
  bottom: 120px;
  left: 140px;
  transition: all 1s ease-in;
}

.reset-info {
  max-width: 170px;
  border: 2px solid #fceeff;
  background-color: #fceeff;
  color: #fff;
  box-shadow: 8px 8px #99bdff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;

}

.reset-info p {
  white-space: normal;
}

.reset.fade-in {
  opacity: 1;
  left: 160px;
}




@media only screen and (max-width: 768px) {
  .col-sm-4, .col-md-4 {
    margin-top: 20px;
  }

  .col-md-6 {
    margin-top: 20px;

  }

  #icon-box {
    width: 50%;
  }


 
}



@media only screen and (max-width: 1000px) {
  .moon {
    opacity: .2;
    right: -50px;
  }

  .col-md-4 {
    padding-top: 15px;
  }



}







