


.navbar {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1;

}



.nav-item.active {
  background-color: #f8f9fa!important;
}



.float-next:hover, .float-back:hover {
  text-decoration: underline;
  color: black;
}

]

/* Fading animation */
.fade-in {
  opacity: 0;
    -webkit-animation: fadein 2s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s forwards; /* Firefox < 16 */
        -ms-animation: fadein 2s forwards; /* Internet Explorer */
         -o-animation: fadein 2s forwards; /* Opera < 12.1 */
            animation: fadein 2s forwards;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #970397;
}

.navbar-light .navbar-brand {
    color: #4ABDAC;
}


body {
  overscroll-behavior-y: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




.c-p {
  height: 100vh;
  min-height: 500px;
  position: relative;
  overflow: hidden;
}

.centered {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.blue-back {
  background-image: url(../graphics/background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clouds {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  transition: bottom 1s ease-out;
}


.moon {
  position: fixed;
  right: -50px;
  bottom: -100px;
  opacity: 1;
  transition: opacity 1s ease-out;
  z-index: -1;
}

.sunburst {
  position: absolute;
  right: -50px;
  bottom: 0;
}



.button-3 {
  border: 2px solid #FF8E90;
  background-color: #FF8E90;
  color: #fff;
  transition: .3s;
  box-shadow: 8px 8px #99bdff;
}

.button-3:hover {
  box-shadow: 0px 0px #99bdff;
  transition: .3s;
}

.home-holder {
  border: 2px solid #FF8E90;
  background-color: #FF8E90;
  color: #fff;
  transition: .3s;
  box-shadow: 8px 8px #99bdff;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.home-holder:hover {
  box-shadow: 0px 0px #99bdff;
  transition: .3s;
}

.home-holder img {
  height: 80%;
  width:80%;
}

.centered {
  display: flex;
  justify-content: center;
}

.spacebro{
  position: fixed;
  bottom: -200px;
  left: 0;
  opacity: 1;
  transition-delay: 10s;
  transition: all 1s ease-out;
}

.spacebro.fade {
  opacity: 0;
}

.spacebro.move {
  bottom: 0;
}

.spacebro img {
  width: 100%;
}

.reset {
  position: fixed;
  opacity: 0;
  bottom: 100px;
  left: 130px;
  transition: all .5s ease-in;
}

.reset-info {
  max-width: 170px;
  border: 2px solid #fceeff;
  background-color: #fceeff;
  color: #3C4766;
  box-shadow: 8px 8px #99bdff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;

}

.reset-info p {
  white-space: normal;
}

.reset.fade-in {
  opacity: 1;
  bottom: 120px;
}

#projects {
  background-color: #3C4766;
  border-color: #3C4766;
}

#resume h2 {
  color: #FCEEFF;
}


#about{
  background-color: #c6e2ff;
  border-color: #c6e2ff;
}

#about h2 {
  color: #FF8E90 ;
}

#about b {
  border-color: #3C4766;
}

#navigationDiv {
  overflow: visible;
}

#welcome {
  transition: margin-bottom .5s ease-in;
}


@media only screen and (max-width: 576px) {
  .home-holder {
    width: 33%;
    margin-top: 10px;
  }

  .clouds {
    bottom: -40px;
  }

  #welcome {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 415px) {
  .home-holder {
    width: 55%;
    margin-top: 10px;
  }

  .reset {
    left: 13px;
    bottom: 180px;
  }

  .reset.fade-in {
    bottom: 200px;
  }

}


@media only screen and (max-width: 1000px) {
  .moon {
    opacity: .2;
    right: -50px;
  }

  .col-sm-4 {
    padding-top: 15px;
  }

  .row {
    margin-top: -75px;
  }


}

@media only screen and (min-width: 1366px) {
  .clouds img {
    width: 100%;
  }
}

@media only screen and (min-width: 1700px) {
  .clouds {
    bottom: -60px;
  }
}
